In [16]:
!pip install -U pandasql

Requirement already satisfied: pandasql in c:\new folder\new folder\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\new folder\new folder\lib\site-packages (from pandasql) (1.24.3)
Requirement already satisfied: pandas in c:\new folder\new folder\lib\site-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in c:\new folder\new folder\lib\site-packages (from pandasql) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\new folder\new folder\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\new folder\new folder\lib\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\new folder\new folder\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\new folder\new folder\lib\site-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\new folder\new folder\lib\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\new folder\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

In [11]:
import pandas as pd

In [12]:
import sqlite3

In [9]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\new folder\new folder\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\new folder\new folder\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\new folder\new folder\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\new folder\new folder\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\new folder\new folder\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\new folder\new folder\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\new folder\new folder\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\new folder\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\new folder\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\new folder\new folder\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\new folder\new folder\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\new folder\new folder\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\new folder\new folder\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\new folder\new folder\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [13]:
conn = sqlite3.connect('creditscoringmodel')

In [17]:
%load_ext sql

In [18]:
%sql sqlite:///creditscoringmodel

In [19]:
%%sql
CREATE TABLE CreditScoringModel (
    Factor VARCHAR(50),
    Weight_Percentage DECIMAL(5, 2),
    Average_Score_Impact DECIMAL(5, 2),
    Standard_Deviation DECIMAL(5, 2),
    Median_Impact DECIMAL(5, 2),
    Max_Impact DECIMAL(5, 2),
    Min_Impact DECIMAL(5, 2)
);

 * sqlite:///creditscoringmodel
Done.

[]

In [20]:
%%sql
INSERT INTO CreditScoringModel (Factor, Weight_Percentage, Average_Score_Impact, Standard_Deviation, Median_Impact, Max_Impact, Min_Impact)
VALUES
('Payment History', 35.00, 297.00, 50.00, 300.00, 350.00, 200.00),
('Credit Utilization', 30.00, 255.00, 40.00, 250.00, 300.00, 150.00),
('Length of Credit History', 15.00, 127.50, 20.00, 125.00, 150.00, 80.00),
('Types of Credit Used', 10.00, 85.00, 10.00, 90.00, 100.00, 50.00),
('Recent Credit Inquiries', 10.00, 85.00, 15.00, 80.00, 100.00, 50.00);

 * sqlite:///creditscoringmodel
5 rows affected.

[]

In [21]:
%%sql
SELECT * FROM CreditScoringModel;

 * sqlite:///creditscoringmodel
Done.

[('Payment History', 35, 297, 50, 300, 350, 200),
 ('Credit Utilization', 30, 255, 40, 250, 300, 150),
 ('Length of Credit History', 15, 127.5, 20, 125, 150, 80),
 ('Types of Credit Used', 10, 85, 10, 90, 100, 50),
 ('Recent Credit Inquiries', 10, 85, 15, 80, 100, 50)]

### Provides a comprehensive view of credit scoring factors and their impacts.

## Factor with the Highest Weight

In [22]:
%%sql
SELECT Factor
FROM CreditScoringModel
ORDER BY Weight_Percentage DESC
LIMIT 1;

 * sqlite:///creditscoringmodel
Done.

[('Payment History',)]

### "Payment History" is the most influential factor with a 35% weight, emphasizing its critical role in credit scoring.

## Average Standard Deviation

In [23]:
%%sql
SELECT AVG(Standard_Deviation) AS Average_Standard_Deviation
FROM CreditScoringModel;

 * sqlite:///creditscoringmodel
Done.

[(27.0,)]

### Calculates variability in score impacts, indicating how consistent factors affect credit scores.

## Factors with an Average Score Impact Above 200 Points

In [25]:
%%sql
SELECT Factor
FROM CreditScoringModel
WHERE Average_Score_Impact > 200;

 * sqlite:///creditscoringmodel
Done.

[('Payment History',), ('Credit Utilization',)]

### Highlights "Payment History" and "Credit Utilization" as significant factors with impacts above 200 points, guiding focus areas for score improvement.

## Range of Impacts for Each Factor

In [26]:
%%sql
SELECT Factor, (Max_Impact - Min_Impact) AS Impact_Range
FROM CreditScoringModel;

 * sqlite:///creditscoringmodel
Done.

[('Payment History', 150),
 ('Credit Utilization', 150),
 ('Length of Credit History', 70),
 ('Types of Credit Used', 50),
 ('Recent Credit Inquiries', 50)]

### Shows variability in factor impacts; "Payment History" has the widest range (150 points), suggesting it can strongly influence score fluctuations.

# Conclusion

## These analyses provide insights into the structure and influence of the credit scoring model used by US banks. Understanding these factors helps in strategizing to improve creditworthiness and manage risk effectively.