In [1]:
!pip install -U pandasql

Requirement already satisfied: pandasql in c:\new folder\new folder\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\new folder\new folder\lib\site-packages (from pandasql) (1.24.3)
Requirement already satisfied: pandas in c:\new folder\new folder\lib\site-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in c:\new folder\new folder\lib\site-packages (from pandasql) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\new folder\new folder\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\new folder\new folder\lib\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\new folder\new folder\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\new folder\new folder\lib\site-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\new folder\new folder\lib\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\new folder\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

In [2]:
import pandas as pd

C:\New folder\New folder\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
import sqlite3

In [4]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\new folder\new folder\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\new folder\new folder\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\new folder\new folder\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\new folder\new folder\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\new folder\new folder\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\new folder\new folder\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\new folder\new folder\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\new folder\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\new folder\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\new folder\new folder\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\new folder\new folder\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\new folder\new folder\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\new folder\new folder\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\new folder\new folder\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\new folder\new folder\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [5]:
conn = sqlite3.connect('creditcardmetrics')

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///creditcardmetrics

In [8]:
%%sql
CREATE TABLE credit_card_metrics (
    year INT,
    total_revenue DECIMAL(12,2),
    net_profit DECIMAL(12,2),
    active_customers INT,
    avg_order_value DECIMAL(8,2),
    customer_acq_cost DECIMAL(8,2),
    gross_margin DECIMAL(5,2),
    churn_rate DECIMAL(5,2)
);

INSERT INTO credit_card_metrics (year, total_revenue, net_profit, active_customers, avg_order_value, customer_acq_cost, gross_margin, churn_rate)
VALUES
    (2021, 45321456.00, 8765432.00, 1234567, 75.21, 25.67, 42.30, 8.20),
    (2022, 51234789.00, 9876543.00, 1345678, 78.34, 27.89, 44.10, 7.50),
    (2023, 57890123.00, 11234567.00, 1456789, 82.45, 29.12, 46.20, 6.80);

 * sqlite:///creditcardmetrics
Done.
3 rows affected.

[]

In [9]:
%%sql
select * from credit_card_metrics

 * sqlite:///creditcardmetrics
Done.

[(2021, 45321456, 8765432, 1234567, 75.21, 25.67, 42.3, 8.2),
 (2022, 51234789, 9876543, 1345678, 78.34, 27.89, 44.1, 7.5),
 (2023, 57890123, 11234567, 1456789, 82.45, 29.12, 46.2, 6.8)]

In [10]:
%%sql
SELECT 
    year, 
    total_revenue, 
    net_profit
FROM credit_card_metrics
ORDER BY year;

 * sqlite:///creditcardmetrics
Done.

[(2021, 45321456, 8765432),
 (2022, 51234789, 9876543),
 (2023, 57890123, 11234567)]

In [11]:
%%sql
SELECT 
    year,
    avg_order_value,
    customer_acq_cost
FROM credit_card_metrics
ORDER BY year;

 * sqlite:///creditcardmetrics
Done.

[(2021, 75.21, 25.67), (2022, 78.34, 27.89), (2023, 82.45, 29.12)]

In [13]:
%%sql
SELECT
    year,
    gross_margin,
    churn_rate
FROM credit_card_metrics
ORDER BY year;

 * sqlite:///creditcardmetrics
Done.

[(2021, 42.3, 8.2), (2022, 44.1, 7.5), (2023, 46.2, 6.8)]

### Analysis:
-- 1. Revenue and Profit Growth:
--    The data shows a steady increase in total revenue and net profit over the 3-year period, indicating a growing and successful business.

-- 2. Customer Acquisition and Retention:
--    The increase in active customers, along with the decreasing churn rate, suggests that the business is effectively acquiring and retaining customers.

-- 3. Profitability:
--    The increasing gross margin indicates that the business is becoming more efficient and profitable over time.

-- 4. Customer Lifetime Value:
--    The combination of increasing average order value and decreasing customer acquisition cost suggests that the business is improving its customer lifetime value.